[submodule "llvm"]
	path = llvm
	url = https://github.com/llvm-mirror/llvm.git
[submodule "opencv"]
	path = opencv
	url = https://github.com/Itseez/opencv.git
[submodule "qcustomplot"]
	path = qcustomplot
	url = https://git.gitorious.org/qcustomplot/qcustomplot.git
