[submodule "llvm"]
	path = llvm
	url = https://github.com/llvm-mirror/llvm.git
[submodule "opencv"]
	path = opencv
	url = https://github.com/Itseez/opencv.git
[submodule "UseLATEX"]
	path = UseLATEX
	url = https://github.com/kmorel/UseLATEX.git
[submodule "polly"]
	path = polly
	url = https://github.com/llvm-mirror/polly.git
